<html>
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/trontastic/jquery-ui.css">
        <style>
            #menu {
                display: flex;
                justify-content: center;
                width: 800px;
                height: 1000px;
                background-image: url('../../assets/menuPageDoor.png');
                background-repeat: no-repeat;
                background-size: cover;
            }
            table {
            }

            p {

                display: flex;
                justify-content: center;
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: -120px;
                color: green;
              }


            h1 {
                display: flex;
                justify-content: center;
                margin-top: 140px;
                margin-bottom: 0px;
                margin-left: -120px;
                color: green;
            }
            #feedback { font-size: 1.4em; }
            #selectable .ui-selecting { background: #FECA40; }
            #selectable .ui-selected { background: #F39814; color: white; }
            #selectable { list-style-type: none; margin-left: 0px; padding-left: 0px; padding-top: 200px; width: 420px; }
            #selectable li { opacity: 0.7; margin: 20px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 1.1.1em; text-align: center; }
            .button {
                opacity: 0.6;
            }
        </style>
    </head>
    <body>



        <div id = "menu">
           <table>
           <tr><td>
            <h1>Kalventure</h1>
            <p> welcome <%= params[:login][:username] %> </p>
            </td></tr>
            <tr><td>
            <ol id = "selectable">
                <li class="ui-state-default row2"><a href="../story_intro_page/storyIntroPage?username=<%=params[:login][:username]%>" >New Adventure</a></li>
                <li class="ui-state-default row2"><a href="../minigames/desktop?username=<%=params[:login][:username]%>" >Continue Adventure</li>
                <li class="ui-state-default row3"><a href="../minigames/desktop?username=<%=params[:login][:username]%>" >Minigames</a></li>
                <li class="ui-state-default row3"><a href="../avatar/avatarPage?username=<%=params[:login][:username]%>" >Avatar Profile</a></li>
            </ol>
            </td></tr>
            </table>
        </div>
        <script>
            //$("#selectable").selectable();
        </script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    </body>
</html>


