<!DOCTYPE html>
<html>
    <head>
        <title>New User Signup</title>
        <link rel="stylesheet" href="../../assets/newuserpage.css">
    </head>
    <body id="newUserPage">
        <h1>First Time Kalventurer? Sign up now!</h1>
        <%= form_for :login, method: :get, url: menu_start_url, :html => { :onsubmit => 'return validateForm();'} do |f| %>
            <%= f.label :FirstName %><br /> 
            <%= f.text_field :firstname %><br />
            <%= f.label :lastName %><br /> 
            <%= f.text_field :lastname %><br />
            <%= f.label :email %><br /> 
            <%= f.text_field :email %><br />
            <%= f.label :username %><br /> 
            <%= f.text_field :username %><br />
            <%= f.label :password %><br /> 
            <%= f.text_field :password %><br />
            <%= f.label :confirm password %><br /> 
            <%= f.text_field :cpassword %><br />
            <%= f.submit "Login", :id => 'submit' %>

            <!--Last Name<br />
            <input type="text" id = "last" name="last"><br />
            Email<br />
            <input type="email" name="email" id = "email" placeholder = "i.e. abc@gmail.com"><br />
            Pick your Username<br />
            <input type="text" name="newUser" id = "username" maxlength = 8><br />
            Create a password<br />
            <input type="password" id = "pass" name="newPass" maxlength = 8><br />
            Confirm your password<br />
            <input type="password" id = "cPass" name="confPass" maxlength = 8><br />
            <input id = "submitButton" type = "Submit" value = "Sign Up">-->
        <% end %> 
        <div id = "error" style="color: red"></div>
        <!--<script> document.getElementById("submitButton").onclick= "addToDb()";</script>-->
            <script>
                function v2() {
                    return false;
                }
                function validateForm() {
                    var user = {};
                    user.firstName = document.getElementById('login_firstname').value;
                    user.lastName = document.getElementById('login_lastname').value;
                    user.email = document.getElementById('login_email').value;
                    user.username = document.getElementById('login_username').value;
                    user.score = 0;
                    user.level = 1;
                    if (document.getElementById('login_password').value === document.getElementById('login_cpassword').value) {
                        user.password = document.getElementById('login_password').value;
                    } else {
                        document.getElementById('error').innerHTML = "The password does not match the confirmation.  Please re-enter and/or confirm your password.";
                        return false;
                    }
                    if (user.username === "" ||  user.firstName === "" || user.last === "" || user.email === "" || user.pass === "") {
                        document.getElementById('error').innerHTML = "Please fill out all fields.";
                        return false;
                    }
                    if (localStorage[user.username] === undefined || localStorage[user.username] === "") {
                        localStorage[user.username] = JSON.stringify(user);
                        //alert("JSON is "+JSON.stringify(user));
                    } else {
                        //alert(localStorage[user.username]);
                        document.getElementById('error').innerHTML = "Username: "+user.username+" is already taken";
                        return false;
                    }
                }
            </script>
    </body>
</html>
